<% content_for :title, "Feedback Details" %>
<% content_for :navbar, "Feedback Details" %>

<div class="mb-4">
  <%= link_to admin_feedback_surveys_path, class: "btn btn-ghost btn-sm" do %>
    <%= heroicon "arrow-left", variant: "mini", class: "w-4 h-4" %>
    Back to Feedback
  <% end %>
</div>

<div class="max-w-4xl mx-auto">
  <%= render 'admin/shared/feedback_details', feedback_survey: @feedback_survey %>
</div>
