KAMAL_REGISTRY_PASSWORD=$(op-cache read "op://Personal/GitHub Personal Access Token/token")
POSTGRES_PASSWORD=$(op-cache read "op://cluster-headache-tracker/postgresql/password")
HONEYBADGER_API_KEY=$(op-cache read "op://cluster-headache-tracker/HoneybadgerAPI/credential")
RAILS_MASTER_KEY=$(op-cache read "op://cluster-headache-tracker/Rails Master Key/credential")
