<% if resource.errors.any? %>
  <div class="alert alert-error">
    <%= heroicon "x-circle", class: "stroke-current shrink-0 h-6 w-6" %>
    <ul class="list-disc list-inside">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
