<% content_for :title, "Headache Logs for #{@user.username}" %>
<% content_for :navbar, "Headache Logs for #{@user.username}" %>

<div class="join join-vertical w-full mb-4">
  <%= render "shared/filter_form" %>
</div>

<article class="prose mb-2">
  <h1>Charts</h1>
</article>
<%= render partial: 'shared/charts', locals: { headache_logs: @headache_logs, chart_data: @chart_data } %>

<article class="prose mb-2">
  <h1>Headache Logs</h1>
</article>
<%= turbo_stream_from @user, "headache_logs" %>
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
  <%= render @headache_logs, hide_actions: true %>
</div>
