<% content_for :title, "Headache Logs for #{@user.username}" %>
<% content_for :navbar, "Doctor's view" %>
<% content_for :web_button do %>
  <button onclick="window.print()" class="btn">
    <%= heroicon "printer", variant: "mini", class: "w-4 h-4" %>
    Print
  </button>
<% end %>
<% content_for :hotwire_button do %>
  <button onclick="window.print()" class="btn">
    <%= heroicon "printer", variant: "mini", class: "w-4 h-4" %>
    Print
  </button>
<% end %>

<%= render "shared/headache_report",
    user: @user,
    headache_logs: @headache_logs,
    chart_data: @chart_data %>
