<% content_for :title, "Forgot your password?" %>
<div class="min-h-full flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Forgot your password?
      </h2>
    </div>
    <p>
      Since we don't store email addresses for privacy reasons, it's unfortunately impossible for us to send you password reset instructions. Please create a new account.
    </p>
    <div class="text-center space-x-4">
      <%= link_to "Log in", new_session_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
      <%= link_to "Sign up", new_registration_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
    </div>
  </div>
</div>
