<% content_for :title, "Edit Headache Log" %>
<% content_for :navbar, "Edit Headache Log" %>
<div class="flex justify-between items-center mb-6">
  <%= link_to headache_logs_path, class: "btn btn-ghost" do %>
    <%= heroicon "arrow-left", variant: "mini", class: "w-4 h-4" %>
    Back to Logs
  <% end %>
</div>

<%= render 'form', headache_log: @headache_log %>
