<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing headache log</h1>

  <%= render "form", headache_log: @headache_log %>

  <%= link_to "Show this headache log", @headache_log, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to headache logs", headache_logs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
