<% content_for :title, "Print Report" %>
<% content_for :navbar, "Print Report" %>
<% content_for :web_button do %>
  <button onclick="window.print()" class="btn">
    <%= heroicon "printer", variant: "mini", class: "w-4 h-4" %>
    Print
  </button>
<% end %>
<% content_for :hotwire_button do %>
  <button onclick="window.print()" class="btn"
          data-controller="bridge--button"
          data-bridge-title="Print"
          data-action="click->bridge--button#print">
    <%= heroicon "printer", variant: "mini", class: "w-4 h-4" %>
    Print
  </button>
<% end %>

<%= render "shared/headache_report",
    user: current_user,
    headache_logs: @headache_logs,
    chart_data: @chart_data %>
