<% content_for :title, "Charts" %>
<% content_for :navbar, "Charts" %>

<div class="join join-vertical w-full mb-4">
  <%= render "shared/filter_form" %>
</div>

<%= render 'shared/charts', { headache_logs: @headache_logs, chart_data: @chart_data } %>
