service: cluster-headache-tracker
image: crmne/cluster-headache-tracker

servers:
  web:
    hosts:
      - clusterheadachetracker.com
    options:
      add-host: host.docker.internal:host-gateway

proxy:
  ssl: true
  host: clusterheadachetracker.com

registry:
  username: crmne
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    DB_HOST: host.docker.internal
  secret:
    - RAILS_MASTER_KEY
    - HONEYBADGER_API_KEY
    - POSTGRES_PASSWORD

aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "bin/rails dbconsole"

volumes:
  - "cluster-headache-tracker_storage:/rails/storage"

asset_path: /rails/public/assets

builder:
  arch: amd64

accessories:
  db:
    image: postgres:latest
    host: clusterheadachetracker.com
    port: 172.17.0.1:5432:5432
    env:
      clear:
        POSTGRES_USER: cluster_headache_tracker
        POSTGRES_DB: cluster_headache_tracker_production
      secret:
        - POSTGRES_PASSWORD
    directories:
      - data:/var/lib/postgresql/data
