<button type="button" class="absolute right-2 top-1/2 -translate-y-1/2 btn btn-ghost btn-xs btn-circle" data-action="flash#close">
  <%= heroicon "x-mark", variant: "mini", class: "h-4 w-4" %>
</button>
